#full-node-version-node-status-form .form-checkboxes .form-item,
#full-node-version-node-status-form .form-checkboxes,
#full-node-version-node-status-form label { display:inline}
#full-node-version-node-status-form { width:400px}
#full-node-version-node-status-form .form-item {clear:both}

#full-node-version-node-status-form label { float:left;}
#full-node-version-node-status-form label.option,
#full-node-version-node-status-form .header { float:right; width:100px; text-align:center; }

